<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".pickTime"
            android:parentActivityName=".calendar"/>
        <activity
            android:name=".calendar"
            android:parentActivityName=".HairdresserProfile"/>
        <activity
            android:name=".appointmentConfirm"
            android:parentActivityName=".pickTime"/>
        <activity
            android:name=".specificSalon"
            android:parentActivityName=".Salon" />
        <activity
            android:name=".messageConfirm"
            android:parentActivityName=".Message" />
        <activity
            android:name=".Message"
            android:parentActivityName=".HairdresserProfile" />
        <activity
            android:name=".Bookappointment"
            android:parentActivityName=".HairdresserProfile" />
        <activity
            android:name=".HairdresserProfile"
            android:parentActivityName=".Hairdresser" />
        <activity
            android:name=".Hairdresser"
            android:parentActivityName=".Explore" />
        <activity
            android:name=".Salon"
            android:parentActivityName=".Explore" />
        <activity
            android:name=".Explore"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>